<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/day1/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print fuction

In [ ]:
print("hello welcome")

hello welcome

arithmatic operators(+,-,*,/)

In [ ]:
a=10
print("a=",a)
print(type(a))
print(id(a))
a=a+2
print("a=",a)
a=a*2
print("a=",a)
a=a/2
print("a=",a)
print("type",type(a))

a= 10
<class 'int'>
10758024
a= 12
a= 24
a= 12.0
type <class 'float'>

type of variables

In [ ]:
a="mushirifa"
print("a=",a)
print(type(a))
print(id(a))

a= mushirifa
<class 'str'>
138308017088304

naming rules and convensions

In [ ]:
A=10
a=100
print("A=",A,'a=',a)

A= 10 a= 100

input function

In [ ]:
name=input("enter your name")
print("my name is",name)

enter your namemushrifa
my name is mushrifa

input fuction by defualt return string. inorder to convert number explisitily use int function.

In [ ]:
number=int(input("enter number"))
print("number=",number,type(number))

enter number10
number= 10 <class 'int'>

write a programe to sum to numbers

In [ ]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))
result=num1+num2
print("sum of two number=",result)
print(f"sum of {num1} and{num2} is {result}")

enter first number10
enter second number30
sum of two number= 40
sum of 10 and30 is 40

area of rectangle

In [ ]:
length=int(input("enter length"))
width=int(input("enter width"))
result=length*width
print("area of rectangle=",result)
print(f"sum of {length} and {width}  is {result}")

enter length6
enter width3
area of rectangle= 18
sum of 6 and 3  is 18

multiple variable assignment

In [ ]:
"""multiple variab
assignment"""
a,b,c=4,5,6
print("a",a)
print("b",b)

a 4
b 5

keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

floor division

In [ ]:
a=12
a=a/7
print("a",a)
#print("a",12/7)
a=12
a=a//7
#print("a",12)
#print("a",a)
#modulas operator
a=10
a=a%3
print("a",a)
a=10
a=a**3
print("a",a)

a 1.7142857142857142
a 1
a 1000

assignment operator

In [ ]:
a=10
print("a",a)
a+=5
print("a",a)
a-=5
print('a',a)
a*=10
print("a",a)
a/=10
print("a",a)
a//=2
print("a",a)
a%=2
print("a",a)
a**=2
print("a",a)

a 10
a 15
a 10
a 100
a 10.0
a 5.0
a 1.0
a 1.0

calculate area and perimeter of square

In [ ]:
length=int(input("enter length"))
width=int(input("enter width"))
result=length*width
print("area of square",result)
print(f"sum of {length} and {width} is the {result}")
#perimeter
sides=int(input("enter side"))
length=int(input("enter length"))
result=length*sides
print("perimeter of square is", result)

enter length5
enter width5
area of square 25
sum of 5 and 5 is the 25
enter side4
enter length5
perimeter of square is 20

total cost

In [ ]:
 cost=int(input("enter cost"))
quantity=int(input("enter quantity"))
result=cost*quantity
print("total cost",result)

enter cost25
enter quantity5
total cost 125

name and age

In [ ]:
name=input("enter name")
age=input("enter age")
print(f"hello i am {name} and {age} years old")

enter namemushrifa
enter age21
hello i am mushrifa and 21 years old

business card

In [ ]:
print("business card")
print("name Mushirifa")
print("designation Data scientist")
print("company Google")
print("contact 8157072405")

business card
name Mushirifa
designation Data scientist
company Google
contact 8157072405

calculate GST

In [ ]:
price=int(input("price"))
gstrate=int(input("gstrate"))
gstamout=price*gstrate
print("gstamout",gstamout)
totalprice=price+gstamout
print("totalprice",totalprice)

price150
gstrate5
gstamout 750
totalprice 900

speed calculation

In [ ]:
distance=int(input("distance"))
time=int(input("time"))
speed=distance/time
print("speed",speed)

distance12
time3
speed 4.0

average mark

In [ ]:
mark1=int(input("mark1 "))
mark2=int(input("mark2"))
mark3=int(input("mark3"))
average=mark1+mark2+mark3/3
print("average",average)