<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/day8sets/day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=3
b=7
a,b=b,a
a

7

sets

In [ ]:
set1={1,2,3,4,}
type(set1)
set2={12,3,45,7,45}
set2

{3, 7, 12, 45}

In [ ]:
s=set()
k={1,2,3}
type(k)
i=set([1,2,3])
i

{1, 2, 3}

In [ ]:
list1=list(eval(input("enter list")))
resultlist=[]
for i in list1:
  if i not in resultlist:
    resultlist.append(i)
print(resultlist)

enter list45,76,98
[45, 76, 98]

In [ ]:
resultlist=list(set(list1))
print(resultlist)

[98, 43, 76]

In [ ]:
mixedset={1,"python",3.5}
print(mixedset)

{1, 3.5, 'python'}

union operation

In [ ]:
set1={1,2,4}
set2={4,5,6}
set1.union(set2)
set1|set2

{1, 2, 4, 5, 6}

intersection operation

In [ ]:
set1.intersection(set2)
set1&set2

{4}

difference operation

In [ ]:
set1-set2
set1.difference(set2)

{1, 2}

In [ ]:
set1^set2
set1.symmetric_difference(set2)

{1, 2, 5, 6}

commmon set method

In [ ]:
#add method
set1.add(5)
set1
id(set1)
set1.add(78)
set1
id(set1)

137727627225664

In [ ]:
#discard
set1.discard(2)
set1
set1.discard(6)
set1

{1, 4, 78}

In [ ]:
#pop
set1.pop()
set1

{4, 78}

In [ ]:
#clear
set1.clear()
set1

set()

In [ ]:
s=frozenset({1,3,5,8})
id(s)
s.union({7})
id(s.union({7}))
s.union({7})

frozenset({1, 3, 5, 7, 8})

dictionary

In [ ]:
dict1={}
type(dict1)
dict2=dict()
type(dict2)

dict

In [ ]:
dict1={"A":"Apple","b": "ball","c": "car", "d": "dog"}
dict1
print(dict1["A"])
dict1["A"]="ant"
print(dict1["A"])
dict1

Apple
ant

{'A': 'ant', 'b': 'ball', 'c': 'car', 'd': 'dog'}

In [ ]:
dict2={1:"apple",2:"number",7:89, (4,8,9):"tree"}
dict2
print(dict2[(4,8,9)])

tree

In [ ]:
emptydict={}
emptydict["a"]="apple"
emptydict
emptydict[(1,23)]="one"
emptydict

{'a': 'apple', (1, 23): 'one'}

using get method

dict keys

In [ ]:
dict1
dict1.keys()

dict_keys(['A', 'b', 'c', 'd'])

set alternation

In [ ]:
set1={1,3,6,8,9}
for i in set1:
  print(i)

1
3
6
8
9

dictionary alternation

In [ ]:
dict1
for i in dict1:
  print(i,dict1[i])

A ant
b ball
c car
d dog

In [ ]:
dict1.values()
dict1.items()

dict_items([('A', 'ant'), ('b', 'ball'), ('c', 'car'), ('d', 'dog')])

In [ ]:
dict1
for i in dict1.items():
  print(i)

('A', 'ant')
('b', 'ball')
('c', 'car')
('d', 'dog')

In [ ]:
for i,j in dict1.items():
  print(i,j)

A ant
b ball
c car
d dog

In [ ]:
num=int(input("enter number"))
comwin={}
for i in range(num):
  key=input("enter students name")
  value=int(input("enter wins"))
  comwin[key]=value
print(comwin)

enter number5
enter students nameh
enter wins6
enter students namehi
enter wins8
enter students namem
enter wins6
enter students nameb
enter wins4
enter students namec
enter wins0
{'h': 6, 'hi': 8, 'm': 6, 'b': 4, 'c': 0}

delete

In [ ]:
dict1
del dict1["d"]
dict1

{}

In [ ]:
dict1={1:"one",2:"two",3:"three"}
dict1.pop(3)
dict1

dict1.pop(3,"not found")

'not found'

update method

In [ ]:
employee1={"name":"mushrifa","salary":500000,"age":21}
employee2={"name":"shifa","salary":100000,"company":"google"}
employee1.update(employee2)
employee1

{'name': 'shifa', 'salary': 100000, 'age': 21, 'company': 'google'}

In [ ]:
info={"name":"mushrifa","age":'21',"salary":50000}
val=input("enter value")
if val in info.values():
  for i in info:
    if info[i]==val:
      print(i)
else:
  print("value not in dictionary")

enter value21
age