<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/day6/day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=[1,34,67.8,"mushrifa", [67,8,90]]
print(list1[4][2])

90

eval

In [ ]:
result=eval("8+5")
print(result)

13

In [ ]:
list1=list(eval(input("enter list")))
print(list1)
print(type(list1))

enter list65,87,90
[65, 87, 90]
<class 'list'>

In [ ]:
limit=int(input("enter the number"))
list1=[]
for i in range(limit):
  data=int(input("enter the number"))
  list1.append(data)
  print(list1)

enter the number5
enter the number56
[56]
enter the number56
[56, 56]
enter the number78
[56, 56, 78]
enter the number90
[56, 56, 78, 90]
enter the number7
[56, 56, 78, 90, 7]

In [ ]:
list1=[23,45,65,7,21,"hello",8,90]
list1.append(5)
print(list1)
list1.insert(3,4)
print(list1)
list1.remove(21)
print(list1)
list1.pop(5)
print(list1)
list1.sort()
print(list1)
list1.reverse()
print(list1)

[23, 45, 65, 7, 21, 'hello', 8, 90, 5]
[23, 45, 65, 4, 7, 21, 'hello', 8, 90, 5]
[23, 45, 65, 4, 7, 'hello', 8, 90, 5]
[23, 45, 65, 4, 7, 8, 90, 5]
[4, 5, 7, 8, 23, 45, 65, 90]
[90, 65, 45, 23, 8, 7, 5, 4]

In [ ]:
list1=[34,78,92,43,32]
list2=[33,65,88,10]
list1.extend(list2)
print(list1)
print(len(list1))
list1.count(10)

[34, 78, 92, 43, 32, 33, 65, 88, 10]
9

1

In [ ]:
list1=[12,34,5]+[23,2,68]
print(list1)
list2=["hi"]*3
print(list2)
list3=[1,2,3]
print(2 in list3)

[12, 34, 5, 23, 2, 68]
['hi', 'hi', 'hi']
True

In [ ]:
list1=[1,2,3,4,5,6]
for i in list1:
  print(i)
for i in range(len(list1)):
  print(list1[i])

1
2
3
4
5
6
1
2
3
4
5
6

In [ ]:
list1=[1,2,2,2,3,4,5]
for i in range(len(list1)):
  if list1[i]==2:
    print("2 at index=",i)

2 at index= 1
2 at index= 2
2 at index= 3

In [ ]:
list1=[23,33,42,56,21,90]
list1.clear()
print(list1)

[]

In [ ]:
list1=[23,33,11,25,8]
del list1[2]
print(list1)

[23, 33, 25, 8]

list in while loop

In [ ]:
fruits=["apple","banana","grapes"]
i=0
while i<len(fruits):
  print(fruits[i])
  i=i+1

apple
banana
grapes

In [ ]:
str1="hi my name is mushrifa"
words=str1.split()
print(len(words))
str2="hi#my#name#is#mushrifa#"
words1=str2.split('#')
print(words1)

5
['hi', 'my', 'name', 'is', 'mushrifa', '']

In [ ]:
str1="hi i am mushrifa"
list(str1)
list("hello")

['h', 'e', 'l', 'l', 'o']

In [ ]:
squares=[i**2 for i in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for i in matrix:
  print(i)
  for j in i:
    print(j,end=" ")
  print()

[1, 2, 3]
1 2 3
[4, 5, 6]
4 5 6
[7, 8, 9]
7 8 9