<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/day4/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

loop in loop

In [ ]:
for firstkid in range(1,6,1):
  print("firstkid=",firstkid)
  for secondkid in range(1,4,1):
    print(secondkid)

firstkid= 1
1
2
3
firstkid= 2
1
2
3
firstkid= 3
1
2
3
firstkid= 4
1
2
3
firstkid= 5
1
2
3

In [ ]:
row=int(input("enter no of row"))
for i in range(row):
  for f in range(i+1):
    print("*",end=" ")
  print()

enter no of row5
*
* *
* * *
* * * *
* * * * *

In [ ]:
row=int(input("enter number"))
for i in range(row):

  for f in range(row):
    print("*",end=" ")
  print()

enter number5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
row=int(input("enter row"))
for i in range(row+1):
  for f in range(1,i+1):
    print(f,end=" ")
  print()

enter row5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
row=int(input("enter rows"))
num=1
for i in range(row+1):
  for i in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print()

enter rows5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
row=int(input("enter rows"))
for i in range(row,0,-1):
  for f in range(1,i+1):
    print("*",end=" ")
  print()

enter rows5
* * * * *
* * * *
* * *
* *
*

string

In [ ]:
a="python programming"
type (a)
a[1]
a[5]
a[8]
a[6]
a[3]
a[-5]
a[-3]

[-4]