<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/day9dictionary%26function/day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dictionary problems
frequency of letters in a string as dictionary

In [ ]:
key=input("enter word")
value={}
for i in key:
  if i in value:
    value[i]=value[i]+1
  else:
    value[i]=1
print(value)
print(sum)

enter wordmushrifa
{'m': 1, 'u': 1, 's': 1, 'h': 1, 'r': 1, 'i': 1, 'f': 1, 'a': 1}
<built-in function sum>

In [ ]:
dict1={}
limit=int(input("enter limit"))
for i in range(limit):
  dict1[i]=i*i
print(dict1)

enter limit3
{0: 0, 1: 1, 2: 4}

In [ ]:
str1=input("enter a sentence")
word=str1.split()
value={}
for i in word:
  if i in value:
    value[i]=value[i]+1
  else:
    value[i]=1
print(value)

enter a sentencemy name is
{'my': 1, 'name': 1, 'is': 1}

sum of values

In [ ]:
dict1={1:10,3:9,4:6,8:3}
#result=sum(dict1.values())
#print(result)
print(type(dict1))
print(type(dict1.values()))
print(sum (dict1.values()))

<class 'dict'>
<class 'dict_values'>
28

maximum value

In [ ]:
dict1={1:5,9:10,8:67,4:87,5:94}
print(max(dict1.values()))

94

# **FUNCTION**

SUM OF TWO NUMBERS

In [ ]:
def addnum(first,second):
  resul=first+second
  return resul

firstnum=int(input("enter first number"))
secondnum=int(input("enter second number"))
result=addnum(firstnum,secondnum)
print(result)

enter first number34
enter second number23
57

multiplication of 3 numbers

In [ ]:
def mnum(first,second,third):
  resul=first*second*third
  return resul

firstnum=int(input("enter number"))
secondnum=int(input("enter number"))
thirdnum=int(input("enter number"))
result=mnum(firstnum,secondnum,thirdnum)
print(result)

enter number3
enter number4
enter number5
60

calculate interest

In [ ]:
def intr(p,n,r):
  resul=p*n*r
  return resul

prn=int(input("enter prn"))
year=int(input("enter year"))
rate=float(input("enter rate"))
interest=intr(prn,year,rate)
print("interest;",interest)

enter prn30000
enter year2
enter rate0.5
interest; 30000.0