<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/day11pandas/pandaspractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Pandas, both Series and DataFrame are used to store data, but they have different structures and use cases.


Pandas is a Python library essential for data manipulation and analysis.
It offers data structures and operations for manipulating numerical tables and time series data.

In [ ]:
import pandas as pd

1. Pandas Series

One-dimensional labeled array.

Can hold any data type: integers, floats, strings, Python objects, etc.

Has an index (labels for rows).

Similar to a single column in Excel or a single column in a database table

In [ ]:
s=pd.Series([10,20,30],index=["a","b","c"])
print(s)

a    10
b    20
c    30
dtype: int64

Create a Series from a list of your favorite fruits.

In [ ]:
fruits=["apple","banana","cherry","dates"]
s=pd.Series(fruits)
print(s)

0     apple
1    banana
2    cherry
3     dates
dtype: object

Access the element with index 'b' from the Series.

In [ ]:
print(s[2])

cherry

Select multiple elements from the Series by index labels 'a' and 'c'

In [ ]:
print(s[[2,3]])

2    cherry
3     dates
dtype: object

Create a Series from a dictionary and sort it by values.

In [ ]:
data = {'John': 25, 'Anna': 22, 'Peter': 30}
s=pd.Series(data)
print(s.sort_values())

Anna     22
John     25
Peter    30
dtype: int64

Find** the mean, median, and standard deviation of this Series.

In [ ]:

#mean
print(s.mean())

25.666666666666668

In [ ]:

#median
print(s.median())

25.0

In [ ]:
print('Standard Deviation:', s.std())

Standard Deviation: 4.041451884327381

Add 5 to each element in the Series.

In [ ]:
s_plus_5 = s + 5
print(s_plus_5)

John     30
Anna     27
Peter    35
dtype: int64

Filter elements greater than 24.

In [ ]:
print(s[s > 24])

John     25
Peter    30
dtype: int64

A DataFrame in Pandas is a two-dimensional labeled data structure — basically a table with rows and columns. It’s one of the most commonly used structures in data analysis with Python.

Key Features of a DataFrame

2-Dimensional: Has both rows and columns.

Labeled axes: Each row has an index, each column has a name.

Heterogeneous data: Each column can have a different data type (integers, strings, floats, etc.).

Can be created from dictionaries, lists, NumPy arrays, or CSV/Excel files.
bcc-xspc-fdn

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

The read_csv() function reads data from a CSV file and loads it into a DataFrame.


Example:

df = pd.read_csv('file.csv')