<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/day7tuple/day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup=()
tup=(1,2,3)
tup3=23,45,67
tup4=tuple([4,56,7])
tup5=tuple("welcome")
tup5

('w', 'e', 'l', 'c', 'o', 'm', 'e')

In [ ]:
t1=(10,20,30,40)
print(t1[1])
print(t1[-1])
print(t1[1:3])

20
40
(20, 30)

In [ ]:
tup1=(3,4)
type(tup1)
tup2=(100)
type(tup2)
tup3=(100,)
type(tup3)

tuple

tuple operation

In [ ]:
tup1=(2,4,)+(4,6)
tup1
tup2=("python,")*3
tup2
tup3=(1,2,3,4)
3 in tup3
len(tup1)

4

methods

In [ ]:
tup1=(1,2,2,3,4,56,4,6,6)
tup1.count(2)
tup1.index(56)
len(tup1)
max(tup1)
min(tup1)
sum(tup1)
sorted(tup1)
tuple(tup1)

(1, 2, 2, 3, 4, 56, 4, 6, 6)

unpacking tuple

In [ ]:
tup1=(1,2,3)
a,b,c=tup1
a
b
c

3

for loop

In [ ]:
tup=(1,2,3,4,5)
for i in tup:
  print(i)
tup1=(1,2,3,4,5)
for i in range(len(tup1)):
  print(i,tup1[i])
  print(f"(i)th {tup1[i]}")

1
2
3
4
5
0 1
(i)th 1
1 2
(i)th 2
2 3
(i)th 3
3 4
(i)th 4
4 5
(i)th 5

In [ ]:
tup=(1,2,3,4,5)
i=0
while i<len(tup):
  print(f"{i} th {tup[i]}")
  i=i+1

0 th 1
1 th 2
2 th 3
3 th 4
4 th 5

add elements to tuple

In [ ]:
tup=()
limit=int(input("enter limit"))
for i in range(limit):
  element=int(input("enter element"))
  tup+=(element,)
print(tup)

enter limit5
enter element1
enter element2
enter element3
enter element4
enter element5
(1, 2, 3, 4, 5)