<a href="https://colab.research.google.com/github/mushrifa26/python-class-files/blob/main/works/home_works.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

profit or loss

In [ ]:
costprice=int(input("cost price"))
sellingprice=int(input("selling price"))
if sellingprice>costprice:
  print("profit")
else:
  print("loss")

cost price25000
selling price40000
profit

loan eligibility:

In [ ]:
monthlyincome=int(input("monthlyincome"))
if monthlyincome>25000:
  print("eligible for loan")
else:
  print("not eligible for loan")

monthlyincome20000
not eligible for loan

vowels or not

In [ ]:
vowel=input("enter character")
if vowel=="a":
  print("vowels")
elif vowel=="e":
  print("vowel")
elif vowel=="i":
  print("vowel")
elif vowel=="o":
  print("vowel")
elif vowel=="u":
  print("vowel")
else:
  print("not vowels")

enter characterc
not vowels

day of the week

In [ ]:
number=int(input("enter number"))
if number==1:
  print("sunday")
elif number==2:
  print("monday")
elif number==3:
  print("tuesday")
elif number==4:
  print("wednesday")
elif number==5:
  print("thursday")
elif number==6:
  print("friday")
elif number==7:
  print("saturday")
else:
  print("invalid")

enter number7
saturday

print

In [ ]:
result=1
a=1
while a<=10:
  result=result*a
  a=a+1
print("result",result)

result 3628800

hello

In [ ]:
a=1
while a<=3:
  print("hello")
  a=a+1

hello
hello
hello

50 - 100

In [ ]:
a=50
while a<=100:
  print(a)
  a=a+1

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

sum

In [ ]:
a=0
sum=0
while a<=100:
  sum=sum+a
  a=a+1
  print("sum=",sum)

sum= 0
sum= 1
sum= 3
sum= 6
sum= 10
sum= 15
sum= 21
sum= 28
sum= 36
sum= 45
sum= 55
sum= 66
sum= 78
sum= 91
sum= 105
sum= 120
sum= 136
sum= 153
sum= 171
sum= 190
sum= 210
sum= 231
sum= 253
sum= 276
sum= 300
sum= 325
sum= 351
sum= 378
sum= 406
sum= 435
sum= 465
sum= 496
sum= 528
sum= 561
sum= 595
sum= 630
sum= 666
sum= 703
sum= 741
sum= 780
sum= 820
sum= 861
sum= 903
sum= 946
sum= 990
sum= 1035
sum= 1081
sum= 1128
sum= 1176
sum= 1225
sum= 1275
sum= 1326
sum= 1378
sum= 1431
sum= 1485
sum= 1540
sum= 1596
sum= 1653
sum= 1711
sum= 1770
sum= 1830
sum= 1891
sum= 1953
sum= 2016
sum= 2080
sum= 2145
sum= 2211
sum= 2278
sum= 2346
sum= 2415
sum= 2485
sum= 2556
sum= 2628
sum= 2701
sum= 2775
sum= 2850
sum= 2926
sum= 3003
sum= 3081
sum= 3160
sum= 3240
sum= 3321
sum= 3403
sum= 3486
sum= 3570
sum= 3655
sum= 3741
sum= 3828
sum= 3916
sum= 4005
sum= 4095
sum= 4186
sum= 4278
sum= 4371
sum= 4465
sum= 4560
sum= 4656
sum= 4753
sum= 4851
sum= 4950
sum= 5050

In [ ]:
#a=0
sum=0
for i in range(1,101,1):
  sum=sum+i
 # a=a+1
print("sum=",sum)

sum= 5050

divisible odd num

In [ ]:

for i in range(1,31,1):
  if i%3==0:
   print("divisable=",i)

divisable= 3
divisable= 6
divisable= 9
divisable= 12
divisable= 15
divisable= 18
divisable= 21
divisable= 24
divisable= 27
divisable= 30

cube

In [ ]:
a=1
while a<=5:
  print(a**3)
  a=a+1

1
8
27
64
125

find product of digit

In [ ]:
num=int(input("enter number"))
product=1
while num>0:
  digit=num%10
  product=product*digit
  num=num//10
print("product=",product)

enter number22
product= 4

sum of digits

In [ ]:
num=int(input("enter number : "))
sum=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)

enter number : 123
6

break

In [ ]:
i=0
while i<=10:
  i=i+1
  if i==7:
    break
  print(i)

1
2
3
4
5
6

day 4 works

In [ ]:

for i in range(5,0,-1):
    for f in range(i,0,-1):
      print(f,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
for i in range(3,0,-1):
  for j in range(3,0,-1):
    print(j,end=" ")
  print()

3 2 1
3 2 1
3 2 1

In [ ]:
for i in range(1,4):
  for j in range(3):
    print(i,end=" ")
  print()

1 1 1
2 2 2
3 3 3

In [ ]:
num=1
for i in range(1,4):
  for j in  range(1,i+1):
    print(num,end=" ")
    num=num+2
  print()

1
3 5
7 9 11

In [ ]:
num=2
for i in range(1,4):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+2
  print()

2
4 6
8 10 12

In [ ]:
num=3
for i in range(1,4):
  for j in range(1,4):
    print(num*j,end=" ")
  print()

3 6 9
3 6 9
3 6 9